<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <fieldset>
      <legend>Id 찾기</legend>
      <form action="/forgetId_process" method ="POST">
        이메일을 입력해주세요 : <input type="text" cols="100" rows="3" name = "email"><br>
        이름을 입력해주세요 :  <input type="text" cols="100" rows="3" name ="name">
        <input type="submit" value="작성">

      </form>
    </fieldset>
  </body>
</html>
