<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/new_passwd" method="POST">
      새 비밀번호를 입력하세요 : <input type="password" rows="3" cols="100" name="new">
      다시 한 번 입력하세요 : <input type ="password" rows="3" cols="100" name="_new">
      <input type ="submit" value="작성">
      </form>
  </body>
</html>
