form {
  padding-top : 30px;
  padding-left: 120px;
}
h2{
  padding-left: 10px;
  width : 0px;
  background-color: #C4C2C3;
  border-bottom: 1px solid ;

}
.cmt_{
  padding:0px;
}
.mod{
  display: inline-block;
  padding-left: 0px;
}
